target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
# IntelliJ IDEA files
/.idea/
/*.iml
/out/

# Gradle build artifacts
/build/
/.gradle/

/src/main/resources/config/apikey.properties
a