@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.header-wrap {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:2;
}

.header-wrap .collapse {
    width: 100px;
}

.navbar-white {
    --bs-navbar-color: rgb(0, 0, 0);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-disabled-color: rgb(0, 0, 0);
    --bs-navbar-active-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-brand-color: rgb(0, 0, 0);
    --bs-navbar-brand-hover-color: rgb(0, 0, 0);
    --bs-navbar-toggler-border-color: rgb(0, 0, 0);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bg-gray {
    --bs-bg-opacity: 1;
    background-color: rgb(154,154,154,154) !important;
}

.bg-gray-70 {
    --bs-bg-opacity: 1;
    background-color: rgb(154,154,154,70%) !important;
}

.image-container {
    position: relative;
    width: 125px; /* 이미지의 너비에 맞게 설정 */
    height: 90px; /* 이미지의 높이에 맞게 설정 */
    overflow: hidden;
}

.image {
    width: 100%;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease; /* 부드러운 전환 효과 */
    max-width:100%;
    height:auto;
}

.image-container:hover .image {
    transform: translateY(-52%); /* 마우스 오버 시 이미지의 절반 아래 부분으로 이동 */
}

.dropdown-toggle-split:hover .dropdown-menu-end {
    display: block;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    display: block !important; /* Bootstrap의 display block 유지 필요 */
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.header-wrap .navbar-collapse {
    justify-content: center;
}

.mo-header-wrap{ display:none; }

/*media 모바일*/
@media screen and (max-width: 1024px){
    /*::mo-header*/
    .header-wrap{ display:none; }
    .mo-header-wrap{ position:relative; display:block; }
    /*.mo-header-wrap .collapse {
        width: 400px;
    }*/

    .mo-navbar{ position:fixed; display:flex; width:100%; height:80px; padding:0 40px; align-items:center; justify-content:space-between; z-index:11; background-color: rgb(154,154,154,70%) !important; border-bottom: solid 3px; }
    .mo-navbar-btn{ position: relative; width:30px; transform: rotate(0deg); transition: .5s ease-in-out; cursor: pointer; }
    .mo-navbar-btn span{ display: block; position: absolute; height:3px; width:100%; background:#000000; border-radius:9px; opacity:1; left:0; transform: rotate(0deg); transition: .25s ease-in-out; }
    .mo-navbar-btn span:nth-child(1) { top:-10px; }
    .mo-navbar-btn span:nth-child(2) { top:-2px; }
    .mo-navbar-btn span:nth-child(3) { top:6px; }
    .mo-navbar-btn.open span:nth-child(1) { top: 0px; transform: rotate(135deg); }
    .mo-navbar-btn.open span:nth-child(2) { opacity: 0; left: -60px; }
    .mo-navbar-btn.open span:nth-child(3) { top: 0px; transform: rotate(-135deg); }

    .mo-navbar-container{ position: fixed; display:flex; align-items:center; flex-direction:column; justify-content:flex-end; left:0%; top:0px; width: 100%; height: 100%; background:rgb(154,154,154,70%); z-index: 10; text-align:center; }
    .mo-navbar-gnb{ font-size:15px; font-family:'Montserrat'; font-weight:700; letter-spacing:-1.5px; overflow-y: auto; }
    .mo-navbar-gnb li{  padding:8px;}
    .mo-navbar-gnb a {
        color: #1a1e21;
        display: flex;
        align-items: center;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        position: relative;
    }
    .mo-navbar-gnb .nav {
        flex-direction: column;
    }
    .sidebar-ul {
        width: 20rem;
        margin-top: 80px;
        list-style:none;
    }

    .mo-navbar-gnb .nav-link:hover , .mo-navbar-gnb a:hover{
        color: #d3d4d5;
    }

    .location {
        width: 95%;
    }

    .map {
        height: 300px;padding-bottom: 0;
    }
}

.cs-tel {
    position: fixed;
    right: 80px;
    bottom: 15px;
    height: 75px;
    text-align: center;
    color: #212121;
    line-height: 50px;
    z-index: 1;
}

.sub_menu{background: #494949;text-align: center;position: relative;z-index: 0;height: 50px;}
.sub_menu ul{ display: flex; justify-content: space-between; list-style: none; border-bottom: 1px solid #626262; clear: both; padding-left: 0;}
.sub_menu ul>li{position: relative; flex: 1; text-align: center;}
.sub_menu ul>li>strong{display: block}
.sub_menu ul>li>strong a{display: block;color:#bebebf;height: 50px;line-height: 50px;box-sizing: border-box;border-right: 1px solid #626262;font-size:16px;border-bottom: 1px solid #626262;}
.sub_menu ul>li.cur>strong a{border-bottom: 5px solid #9E9E9E;color:#fff}
.sub_menu ul>li:hover>strong a{color:#fff}
.sub_menu ul>li:first-child>strong a{border-left: 1px solid #626262;}
.sub_menu ul li dl a{display: block;font-size:16px;color:#bebebf;font-size:16px;height: 50px;line-height: 50px;background: #494949;border-left: 1px solid #626262;border-right: 1px solid #626262;border-bottom: 1px solid #626262;}
.sub_menu ul li dl dd:hover a{color:#fff}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-brand img{
    width: 65%;
    height: auto;
    object-fit: contain;
}

@media all and (max-width:1024px){
    .sub_menu ul>li>strong.depth{background-position: 140px center}
}

@media (min-width: 992px) {
    .masthead.sub {
        height: 65vh;
    }
}

.page-section {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

.intro {
    position: relative;
}

@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }
    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }
    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}
@media (min-width: 1200px) {
    .intro .intro-text {
        width: 45%;
    }
}

@media (min-width: 992px) {
    .product-item .product-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -3rem;
    }
    .product-item .product-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw;
    }
    .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw;
    }
}

.roboto {
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}

a {
    text-decoration-line: none;
}

.video_thumbnail {
    overflow: hidden;
    transition: transform 0.3s ease;
}
.video_thumbnail:hover {
    transform: scale(1.05);
}

.video_thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

.video_title {
    width: 100%;               /* 부모에 맞춤 */
    white-space: nowrap;       /* 줄바꿈 안되게 */
    overflow: hidden;          /* 넘치는 부분 숨김 */
    text-overflow: ellipsis;   /* ... 표시 */
    font-size: 16px;
    margin-top: 8px;
    color: white;
}

.location {
    width: 95%;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* 전체 페이지의 스크롤바 변경 */
::-webkit-scrollbar {
    width: 10px;  /* 세로바의 폭 */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  /* 트랙(배경) */
}

::-webkit-scrollbar-thumb {
    background: #888;  /* 움직이는 thumb */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;  /* hover시 변경 */
}

.page-top-banner {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/resources/img/main/main_background.jpg');
}

.page-top-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* 어둡게 오버레이 */
    z-index: 0;
}

.banner-text {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}